/bin
/build
/classes
/src/main/webapp/WEB-INF/lib
/src/main/java/com/unieins/happy/Credentials.java
/.settings
/WEB-INF
/gradle*
.gradle
.project
.classpath
/war/WEB-INF/classes
endpoint-libs
/war/WEB-INF/deploy
/war/node_modules
/war/Gulp Watch.bat
/war/dist/js/project-dashboard.dist.js
/war/dist/js/projects.dist.js
/war/dist/js/admin.dist.js
/war/dist/js/courses.dist.js
target
babel-cache
dist
