{
	"presets": [["env", {
		"targets": {
			"browsers": ["since 2015"]
		}
	}]],
		"plugins": [
			"transform-decorators",
            "transform-es2015-destructuring",
            "transform-object-rest-spread",
		"babel-plugin-async-to-promises",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}]]
}
