.main-content {
	margin-top:70px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.adminBtn{
	display: none;
}