body{
	overflow: auto;
}

.main-content {
	margin-top:70px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter {
    padding-left:3px !important;
    padding-right:3px !important;
}

.small-gutter-left {
    padding-left:3px !important;
}

.small-gutter-right {
    padding-right:3px !important;
}

.hoverHand:hover{
	cursor: pointer;
}

.no-gutter{
	padding-right:10px;
    padding-left:10px;
}

.clickable:hover{
	cursor: pointer;
}

.centerParent{
    text-align: center;
}

.centerChild{
	display: inline-block;
	float: none;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
}

.show {display:block;}

.hide {display:none;}
